﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding: 50px 10px 20px 10px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#MainContent_characters_list, #MainContent_character_list {
    width: 100%;
}
table{
    margin: 10px;
}
table tbody tr td{
    padding: 10px;
}
.querybox{
    font-weight: bold;
    margin: 10px 0;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
