﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="pagemenu.ascx.cs" Inherits="Warcraft.usercontrol.pagemenu" %>
<%--<asp:SqlDataSource runat="server" id="insert_chracter"
        ConnectionString="<%$ ConnectionStrings:warcraft_sql_con %>">
    <ul runat="server" id="page_menu">

    </ul>
    </asp:SqlDataSource>--%>